// .FilterableProductTable {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     flex-direction: column;
//     border: 1px solid #000;
// }

// table {
//     border-collapse: collapse;
//     width: 50%;
//     text-align: center;
// }

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

.category {
    font-weight: bold;
    text-align: left;
}
